In [2]:
import pandas as pd

dfpopulation = pd.read_csv("2008.csv")

df = dfpopulation.sample(frac = 0.00001)

In [3]:
df.head(3).T

                  5205932 5440469 1750227
Year                 2008    2008    2008
Month                   9      10       3
DayofMonth              9      20       7
DayOfWeek               2       1       5
DepTime              1343     804     740
CRSDepTime           1310     755     740
ArrTime              1605     937    1552
CRSArrTime           1550     905    1544
UniqueCarrier          MQ      WN      CO
FlightNum            4015    2978     485
TailNum            N685AE  N286WN  N76503
ActualElapsedTime      82      93     312
CRSElapsedTime        100      70     304
AirTime                65      50     290
ArrDelay               15      32       8
DepDelay               33       9       0
Origin                ORD     LAS     PDX
Dest                  ROC     PHX     EWR
Distance              528     256    2433
TaxiIn                  3       5       9
TaxiOut                14      38      13
Cancelled               0       0       0
CancellationCode      NaN     NaN     NaN
Diverted                0       0       0
CarrierDelay           15       9     NaN
WeatherDelay            0       0     NaN
NASDelay                0      23     NaN
SecurityDelay           0       0     NaN
LateAircraftDelay       0       0     NaN

In [4]:
df['Date'] = pd.to_datetime(df['Year'].map(str)+'-'+df['Month'].map(str)+'-'+df['DayofMonth'].map(str))
df.head(3)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date
5205932,2008,9,9,2,1343.0,1310,1605.0,1550,MQ,4015,...,14.0,0,NaN,0,15.0,0.0,0.0,0.0,0.0,2008-09-09
5440469,2008,10,20,1,804.0,755,937.0,905,WN,2978,...,38.0,0,NaN,0,9.0,0.0,23.0,0.0,0.0,2008-10-20
1750227,2008,3,7,5,740.0,740,1552.0,1544,CO,485,...,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2008-03-07
1333632,2008,3,11,2,1055.0,1055,1436.0,1429,OH,5574,...,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2008-03-11
6904794,2008,12,22,1,1850.0,1850,2113.0,2100,AA,535,...,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2008-12-22

Using one (or more) subsamples of the dataframe of flights, generate a meaningful example for each of the following tests and procedures:

1. Chi-squared test
2. T-test for independent samples
3. T-test for paired data
4. ANOVA (compare multiple means)
5. Confidence interval for the mean
6. Test if the data is normally distributed (one of the main assumptions, most of the times is not satisfied...)
7. (EXTRA) What is bootstrap?!

In [17]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [23]:
df = dfpopulation.sample(frac = 0.00001) 

df["DepartOnTime"] = df.DepDelay > 0
df["ArrivalOnTime"] = df.ArrDelay > 0